.momongaPlaceholder {
    background-color: #fafad2;
    height: 2em;
    line-height: 2em;
}

.momongaToolbar {
    position: absolute;
    top: -5px;
    left: -20px;
}

.momongaActive {
    position: relative;
    border: 1px dashed #87cefa;
}
